<div class="content">
    <div class="header lg pepperi-border-bottom">
        <h2 class="title pull-left">{{ 'Edit' | translate}}</h2>
        <button type="button" class="btn pepperi-button mat-button strong color-main md pull-right flip spacing-element" (click)="save()">{{'Save' | translate}}</button>
        <button type="button" class="btn pepperi-button mat-button weak system md pull-right flip spacing-element" (click)="cancel()">{{'Cancel' | translate}}</button>
    </div>
    <h5>{{ 'Define the event details' | translate}}</h5>
    <br/>
    <div *ngIf="!loading" class="form">
        <div class="grid-container">
            <div class="description">
                <pepperi-textbox [required]="true" [label]="'Description' | translate" [(value)]='event.Description'></pepperi-textbox>
            </div>
            <div class="active">
                <pepperi-select [label]="'Active' | translate" [(value)]="event.Active" [options]="options.activeOptions"></pepperi-select>
            </div>
            <div class="object">
                <pepperi-select [label]="'Object' | translate" [(value)]="event.On.Object.Resource" (valueChange)="objectChanged()" [options]="options.objectOptions"></pepperi-select>
            </div>
            <div class="atd">
                <pepperi-select [required]="true" [label]="'Type' | translate" [(value)]="event.On.Object.InternalID" (valueChange)="atdChanged()" [options]="options.atdOptions"></pepperi-select>
            </div>
            <div class="event">
                <pepperi-select [required]="true" [label]="'Event' | translate" [(value)]="event.On.Key" (valueChange)="eventChanged()" [options]="options.eventOptions"></pepperi-select>
            </div>
            <div class="field">
                <pepperi-select [disabled]="!options.fieldsEnabled" [required]="options.fieldsEnabled" [label]="'Field' | translate" [value]="event.On.Field ? event.On.Field.FieldID : ''" (valueChange)="event.On.Field.FieldID = $event" [options]="options.fieldOptions"></pepperi-select>
            </div>
            <div class="execution">
                <pepperi-select [label]="'Execution' | translate" [value]="event.On.Hook" [options]="options.executionOptions"></pepperi-select>
            </div>
            <div class="code">
                <div class="rowHeader pepperi-border-bottom">
                    <div class="body-lg pull-left">{{ 'Script' | translate}}</div>
                </div>
                <p class="body-sm">Enter your custom logic here</p>
                <code-editor [(value)]="event.Action.Code"> </code-editor>
            </div>
          </div>          
    </div>
</div>
