.grid-container {
  display: grid;
  overflow-y: scroll;
  gap: 1px 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "description active" "object atd" "event field" "execution ." "code code";
  
  .description { grid-area: description; }

  .active { grid-area: active; }
  
  .object { grid-area: object; }
  
  .atd { grid-area: atd; }
  
  .event { grid-area: event; }
  
  .field { grid-area: field; }
  
  .code { grid-area: code; }
  
  .execution { grid-area: execution; }
}

.header {
  height: 3.5rem;

  .btn {
    margin-top: .5rem;
  }
}

.code {
  .rowHeader {
    height: 2rem;
  }
  
  p {
    margin-top: .5rem;
  }
}