
<div class="change-version-dialog dialog">
    <h2 class="pepperi-border-bottom" mat-dialog-title>
        <span *ngIf="title?.length">{{ title }}</span>
        <button mat-button [mat-dialog-close]="dialogData" class="pepperi-button icon-button md weak pull-right flip">
            <mat-icon>
                <svg class="svg-icon">
                    <use attr.xlink:href="{{ svgIcons }}system-close"></use>
                </svg>
            </mat-icon>
        </button>
    </h2>
    <div mat-dialog-content>
        <div style="padding: 0 .5rem;">
        <p>{{'Current Version: ' + currentVersion}}</p>
        <br>
        <mat-select #select matInput disableOptionCentering
            class="body-sm"
            [(ngModel)]="outputData.version" [ngModelOptions]="{ standalone: true }" [placeholder]="'AddonsManager_ChooseVersion' | translate"
             (selectionChange)="selectionChange($event)" (openedChange)="openedChange($event)" title="'Title' | translate">
            <mat-option *ngFor="let option of values" [value]="option?.Version" >{{option?.Version}}{{ option?.Phased ? ' | Phased' : ' | Available'}}{{ option?.Description ? ' | ' + option?.Description : ''}}</mat-option>
        </mat-select>

        </div>
    </div>
    <div mat-dialog-actions class="pepperi-border-top">
        <div class="spacing-element-negative">
            <button class="spacing-element mat-button pepperi-button md weak" mat-button [mat-dialog-close]="outputData"  >{{ 'Confirm' | translate }}</button>
        </div>
    </div>
</div>
