<div id="editor-container" class="plugin-container">

    <div id="pluginHeader" class="header-content">
        <div class="content pepperi-border-bottom">
            <div class="left-container spacing-element-negative pull-left flip">
                <div class="spacing-element title">
                    {{ 'Client Events' | translate }}
                </div>
            </div>
        </div>
    </div>

    <div id="pluginBody" class="main-content">

        <div class="content" *ngIf="view === 'list'">
            <app-list-view></app-list-view>
        </div>

        <app-form-view></app-form-view>
    </div>
</div>
